/* .ql-toolbar {
} */

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-stroke .ql-stroke:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: darkgray;
}

.quill {
  display: flex;
  flex-direction: column;
}

.ql-toolbar {
  min-height: fit-content;
}

.ql-toolbar.ql-snow {
  border: none;
}

.ql-container.ql-snow {
  border: 1px solid #ebebeb;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 1px solid #ebebeb;
}

.ql-container {
  max-height: 80%;
}

.ql-formats {
  padding: 4px 12px;
  border-radius: 20px;
  background: rgba(121, 96, 190, 0.8);
}

.ql-editor {
  padding: 12px;
  resize: none;
}

.ql-formats .ql-picker-label {
  color: rgba(255, 255, 255, 0.8);
}

.ql-snow .ql-stroke {
  stroke: rgba(255, 255, 255, 0.8);
}

.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: rgba(255, 255, 255, 0.8);
}
